.time-unit-container p {
    color: #FFFFFF;
    font-size: 40px;
}

.number-box {
  background-color: #292828;
  display: flex;
  width: 215px;
  height: 205px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.number-box p {
    font-size: 56px;
    font-weight: 400;
    line-height: 77.45px;
    text-align: left;
}